@import "../../styles/utilities/mixins.scss";
@import "../../styles/utilities/variables.scss";

.dropdown {
    @include rounded-corner(1rem);
    @include box-shadow(0 10px 25px rgba(0, 0, 0, 0.1));
    @include font-size(1.2, 400, 1.44);
    font-family: $font-primary;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.dropdown__header {
    @include flex-container(row, space-between, center);
    padding: 1rem;
    cursor: pointer;
    width: 100%;

    @include tablet {
        justify-content: flex-end;

        > span {
            margin-right: 0.5rem;
        }
    }

    @include desktop {
        justify-content: flex-end;

        > span {
            margin-right: 0.5rem;
        }
    }
}

.dropdown__body {
    @include font-size(1, 400, 1.44);
    background-color: $color-tertiary;
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 0.5rem;
    border-top: 1px solid #e5e8ec;
    display: none;
}

.dropdown__body.open {
    display: block;
}

.dropdown__item {
    padding: 0.8rem;
    opacity: $opacity;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.selected {
    @include rounded-corner(1rem);
    background-color: $color-secondary;
    color: $color-tertiary;
    opacity: 1;
}
