@import "../../styles/utilities/mixins.scss";
@import "../../styles/utilities/variables.scss";

.form__item {
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    opacity: $opacity;
    transition: all 0.5s ease-out;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.formItem__label {
    @include flex-container(row, center, center);
    width: 15%;
    margin: auto;

    > * {
        width: 100%;
        color: $color-tertiary;
        font-size: 1.5rem;
    }
}

.formItem__input {
    color: $color-primary;
    @include font-size(1, 400, 1.44);
    font-family: $font-primary;
    flex: 1;
    padding: 1rem;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &:focus {
        outline: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
