@font-face {
    font-family: "Rubik", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap");
}

$white: #fff;
$black: rgb(85, 83, 83);
$blue: #2e25a7;

$font-primary: "Rubik", sans-serif;
$font-secondary: "Raleway", sans-serif;

$color-primary: $black;
$color-secondary: $blue;
$color-tertiary: $white;

$opacity: 0.8;

$phone-width: 539px;
$tablet-width: 540px;
$desktop-width: 1024px;
