$white: #fff;
$black: rgb(85, 83, 83);
$blue: #2e25a7;

$link-primary: $white;
$link-secondary: $blue;
$link-tertiary: $black;

$radius-button: 5px;
$radius-tab: 5px;

$font-primary: "Roboto", sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

$color-primary: $white;
$color-secondary: $blue;
$color-tertiary: $black;

$opacity: 0.8;

$phone-width: 539px;
$tablet-width: 540px;
$desktop-width: 1024px;