@import "../../styles/utilities/mixins.scss";
@import "../../styles/utilities/variables.scss";

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: auto;
    margin-top: 1rem;

    @include desktop {
        width: 70%;
    }
}

.home__header {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
    }
}
