@import "./styles/utilities/variables.scss";
@import "./styles/utilities/mixins.scss";

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @include desktop {
        overflow: hidden;
    }
}

.card__list {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
        justify-content: space-between;
    }

    @include desktop {
        justify-content: flex-start;
    }
}
